<button type="button" class="btn btn-success" routerLink="/add">
  დამატება
</button>
<div>
  <select
    #location
    (click)="inventoryLocation(location.value)"
    class="form-select"
    aria-label="Default select example"
  >
    <option selected>select</option>
    <option *ngFor="let o of options">
      {{ o.name }}
    </option>
  </select>
</div>
<table *ngIf="show; else elseBlock" class="table caption-top">
  <thead>
    <tr>
      <th scope="col">ნივთის სახელი</th>
      <th scope="col">ნივთის ადგილმდებარეობა</th>
      <th scope="col">ნივთის ფასი</th>
      <th scope="col">ოპერაციები</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let inventory of inventories">
      <td>{{ inventory.title }}</td>
      <td>{{ inventory.location }}</td>
      <td>{{ inventory.price }}</td>
      <td>
        <button
          routerLink="/inventories"
          (click)="deleteInventory(inventory._id)"
          type="button"
          class="btn btn-danger"
        >
          წაშლა
        </button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #elseBlock><h1>სია ვერ მოიძებნა</h1></ng-template>

<button type="button" class="btn btn-success" routerLink="/add">
  დამატება
</button>
